@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  font-weight: 400;
  /* border: 2px solid green; */
}

:root {
  --primary-font: 'Mulish', sans-serif;
  --copy-font: 'Inter', sans-serif;
  --Dark-01: #131318;
  --Dark-02: #424247;
  --mango: #FF5400;
}

.primary-btn {
  color: #FFF;
  border-radius: 8px;
  background: #FF5400;
  width: 174px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  border: 0;
  gap: 8px;
  cursor: pointer;
}

/* header section style start */
header {
  padding: calc(52 / 1440 * 100vw) calc(127 / 1440 * 100vw) calc(0 / 1440 * 100vw) calc(135 / 1440 * 100vw);
}

/* nav section style start */
nav {
  display: flex;
  justify-content: space-between;
}

.icon-head-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.icon-head-section img {
  height: calc(35 / 1440 * 100vw);
  min-height: 80%;
}

.icon-head-section h1 {
  color: var(--dark-01);
  font-size: 2.25rem;
  font-weight: 800;
  padding: calc(5 / 1440 * 100vw) calc(1 / 1440 * 100vw) calc(5 / 1440 * 100vw) calc(1 / 1440 * 100vw);
}

.icon-head-section>h1>span {
  font-weight: 800;
  color: var(--mango);
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(44 / 1440 * 100vw);
  padding: calc(10 / 1440 * 100vw) calc(0 / 1440 * 100vw) calc(10 / 1440 * 100vw) calc(0 / 1440 * 100vw);
}

.nav-links>link {
  color: var(--Dark-02);
  text-align: center;
  font-size: calc(18rem / 16);
}

.nav-links>:first-child {
  color: var(--mango);
}

/* navbar section done */
/* banner section start */
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  padding: calc(106 / 1440 * 100vw) calc(185 / 1440 * 100vw);
  border-radius: 16px;
  margin-top: calc(50 / 1440 * 100vw);
}

.banner>h1 {
  color: #FFF;
  font-size: 4rem;
  font-weight: 800;
  margin: 0 auto;
  text-align: center;
}

.banner>p {
  color: #FFF;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  /* 162.5% */
  max-width: 676px;
  margin: calc(24 / 1440 * 100vw) calc(0 / 1440 * 100vw) calc(48 / 1440 * 100vw) calc(0 / 1440 * 100vw);
}

.banner>form {
  width: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: calc(16 / 1440 * 100vw);
  background: rgba(255, 255, 255, 0.30);
}

.banner>form>* {
  min-width: calc(174 / 1440 * 100vw);
  padding: calc(10 / 1440 * 100vw);
  border-radius: 8px;
  border: 0;
}

.banner>form>input {
  color: rgba(19, 19, 24, 0.50);
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
}

/* banner section as well as header section start */
/* main section start */
/* popular section start */
main {
  padding: 100px calc(135 / 1440 * 100vw);
}

.popular-tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: end;
  gap: calc(53 / 1440 * 100vw);
}

.popular-tour img {
  max-width: 100%;
}

.popular-tour-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: calc(24 / 1440 * 100vw);
}

.popular-tour-desc h1 {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}

.popular-tour-desc {
  color: rgba(19, 19, 24, 0.70);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  /* 162.5% */
}

.popular-tour-desc>:nth-child(4) {
  max-width: calc(530 / 1440 * 100vw);
}

.popular-tour-desc li {
  list-style-position: inside;
}

.popular-tour-desc li:nth-child(2) {
  margin: calc(16 / 1440 * 100vw) 0;
}

.popular-tour button {
  font-size: 1.25rem;
}

/* popular section done */
/* destination section start */
.destination {
  margin: calc(100 / 1440 * 100vw) auto 0 auto;
}

.destination>h1 {
  color: #131318;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
}

.destination>p {
  color: rgba(19, 19, 24, 0.70);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  max-width: 643px;
  margin: 24px auto;
}

.image-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(24 / 1440 * 100vw);
  margin-top: 24px;
  border: 2px solid red;
}

.image-container div {
  position: relative;
}

.image-container div h1 {
  position: absolute;
  color: #FFF;
  font-size: 1.75rem;
  font-weight: 800;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* why choose us section start */
.why-choose-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(100 / 1440 * 100vw);
}

.why-choose-us>h1 {
  color: #131318;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
}

.why-choose-us>p {
  color: rgba(19, 19, 24, 0.70);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  max-width: 643px;
  margin: 24px 0;
}

.choose-div-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  justify-items: center;
}

.choose-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: rgba(19, 19, 24, 0.70);
  font-size: 1rem;
  font-weight: 400;
  line-height: calc(26rem / 16);
  /* 162.5% */
  max-width: 643px;
  padding: 32px 55px 32px 32px;
}

.choose-container>h3 {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 32px 0 16px 0;
}

.choose-container>p {
  color: #5A5A5D;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625rem;
}

.choose-container:first-child {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.20);
  background: rgba(251, 181, 99, 0.05);
}

.choose-container:nth-child(2) {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.20);
  background: rgba(41, 206, 246, 0.05);
}

.choose-container:last-child {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.20);
  background: rgba(233, 68, 68, 0.05);
  grid-column: span 2;
}





























@media screen and (max-width: 600px) {
  .nav-links {
    content: url('/Images/menu-bar.svg');
    min-width: 24px;
    min-height: 24px;
    margin: auto 0;
  }

  .banner h1 {
    font-size: 1.5rem;
  }

  .banner p {
    margin-bottom: 32px;
  }

  .banner form>input {
    min-width: 100%;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    min-height: 52px;
    padding: 16px;
  }

  .banner form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 16px;
  }

  .banner form>button {
    width: 100%;
    padding: 16px 0;
  }

  main {
    padding: 24px 20px;
  }

  .popular-tour {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: end;
    gap: calc(53 / 1440 * 100vw);
  }

  .popular-tour-desc>:nth-child(4) {
    max-width: 100%;
  }

  .destination h1 {
    font-size: 1.25rem;
  }

  .image-container div {
    width: 100%;
    height: calc(287 / 600 * 100vw);
  }

  .image-container img {
    width: 100%;
    height: calc(287 / 600 * 100vw);
  }

  .why-choose-us>h1 {
    font-size: 1.25rem;
  }

  .why-choose-us p {
    font-size: calc(14rem / 16);
  }

  .choose-div-container {
    grid-template-columns: 1fr;
    padding-right: 32px;
  }

  .choose-container:last-child {
    grid-column: 1;
  }

  .choose-container>h3{
    font-size: 1.25rem;
  }
}